.line-list__timetable-1 {
  left: 324px;
  top: 506.8px;
}
.line-list__timetable-2 {
  left: 380px;
  top: 584.8px;
}
.line-list__timetable-3 {
  left: 324px;
  top: 694.8px;
}
.line-list__timetable-4 {
  left: 370px;
  top: 788.8px;
}
.line-list__timetable-5 {
  left: 324px;
  top: 883px ;
}
.line-list__timetable-6 {
  left: 370px;
  top: 974.8px;
}
.line-list__timetable-7 {
  left: 324px;
  top: 1073px;
}
